# MeetFlow AI Configuration
GROQ_API_KEY=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
SUPABASE_URL=https://vbpvzweyxchmdxcvvsjt.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZicHZ6d2V5eGNobWR4Y3Z2c2p0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NDE3MDYsImV4cCI6MjA5MjMxNzcwNn0.kKkZAjgcRwCBRBP83CqKV6BHfx24ak0lO8cGEYPtkFg
FLASK_SECRET_KEY=24d0a525e3f5808abced71ed7514d8cb8c0b5a0cce4c0f390430c55728e4c9a1
LOG_LEVEL=INFO
